.body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 320px;
  text-align: center;
}

/* SHOP BLOCK */
.shop-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  margin: 0 0 1rem 0;
  border: 1px solid #fff;
  font-size: 0.8rem;
}

.item:hover {
  border: 1px solid rgb(216, 210, 210);
}

.item-header {
  margin: 0.2rem 0.1rem 0.6rem 0.1rem;
  padding: 0;
  font-size: 0.9rem;
}

.item-pic {
  width: 100%;
  object-fit: cover;
  background: grey;
}

.item-colour {
  margin: 0 0 0.4rem 0;
  padding: 0;
  font-size: 0.7rem;
}

.item-price {
  margin: 0 0 0.4rem 0;
  padding: 0;
  font-size: 1rem;
}

.item-old-price {
  color: rgb(155, 37, 37);
  text-decoration: line-through;
}

.item-stock {
  margin: 0 0 0.3rem 0;
  padding: 0;
}

.item-category {
  margin: 0 0 0.4rem 0;
  padding: 0;
  font-size: 0.7rem;
}

.add-btn,
.disabled-btn {
  width: 100%;
  font-size: 0.9rem;
  border-radius: 0;
}

.add-btn:hover,
.add-btn:focus {
  background-color: rgb(166, 166, 252);
}

.add-btn:active {
  color: grey;
}

.disabled-btn {
  color: grey;
}

/* CART BLOCK */
.cart-block {
  position: relative;
}

.cart-header {
  margin: 0;
  padding: 0.4rem;
  font-size: 1rem;
  text-align: right;
  background: rgb(243, 241, 241);
}

.cart-header:hover,
.cart-header:focus {
  text-decoration: underline;
}

.cart-header:active {
  color: rgb(88, 86, 86);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  align-items: center;
  padding: 0.5rem;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-pic {
  object-fit: cover;
  background: grey;
}

.cart-item-name {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.cart-item-colour {
  margin: 0.2rem 0;
  font-size: 0.8rem
}

.cart-item-category {
  margin: 0.2rem 0;
  font-size: 0.7rem
}

.price-wrap {
  display: flex;
  align-items: baseline;
}

.cart-item-price {
  margin: 0 0.5rem 0 0;
}

.delete-btn {
  align-self: center;
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: rgb(223, 128, 128);
}

.delete-btn:active {
  color: grey;
}

.close-cart-btn {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  border: none;
  font-weight: bold;
  background-color: inherit;
}

.close-cart-btn:hover,
.close-cart-btn:focus {
  text-decoration: underline;
}

.close-cart-btn:active {
  color: grey;
}

/* DISCOUNT BLOCK */
.discount-block {
  padding: 1rem 0 0 0;
}

.discount-label {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.price-block {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid grey;
}

.back-btn,
.checkout-btn {
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 0;
}

.back-btn {
  margin-right: 0.5rem;
}

.back-btn:hover,
.back-btn:focus,
.apply-btn:hover,
.apply-btn:focus{
background-color: rgb(166, 166, 252);
}

.back-btn:active,
.apply-btn:active {
  color: grey;
}

.checkout-btn {
  background-color: rgb(168, 204, 168);
}

.checkout-btn:hover,
.checkout-btn:focus {
  color: #fff;
}

.checkout-btn:active{
  background-color:  rgb(56, 70, 56);
  color: grey;
}

/* VOUCHERS BLOCK */
.vouchers-block {
  position: relative;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.vouchers-block-header {
  margin: 0 0 0.5rem 0;
  padding: 0;
  text-align: left;
}

.vouchers-block-header:hover,
.vouchers-block-header:focus {
  text-decoration: underline;
}

.vouchers-block-header:active {
  text-decoration: underline;
}

.vouchers-block-intro {
  text-align: left;
}

.vouchers-block-list {
  padding: 0;
}

.voucher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 0.8rem;
}

.voucher-description {
  width: 48%;
  text-align: left;
}

.voucher-code {
  width: 48%;
  font-size: 0.9rem;
  text-align: right;
}

.close-vouchers-btn {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  border: none;
  font-weight: bold;

}

.close-vouchers-btn:hover,
.close-vouchers-btn:focus {
  text-decoration: underline;
}

.close-vouchers-btn:active {
  color: grey;
}


/* FUNCTIONAL */
.error {
  display: block;
  color: red;
}

.block {
  display: block;
}

.hidden,
.collapsed {
  display: none;
}

@media screen and (min-width: 768px) {
  .item {
    width: 31%;
  }

  .item-pic {
    height: 300px;
  }

  .vouchers-block {
    padding: 0.5rem 3rem;
  }

  .vouchers-block-intro {
    text-align: center;
  }

  .cart-item {
    padding: 0.5rem 1rem;
  }

  .content-wrap {
    flex-direction: row;
    align-items: baseline;
    width: 70%;
    align-content: space-between;
  }

  .cart-item-name {
   width: 30%;
   text-align: left;
  }

}

@media screen and (min-width: 768px) {
  .item {
    width: 24%;
  }

  .vouchers-block {
    padding: 0.5rem 5rem;
  }

  .cart-item {
    padding: 0.5rem 2rem;
  }

  .cart-item-name {
    width: 50%;
    text-align: left;
   }
}



