.body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-width: 320px;
  text-align: center;
}


/* SHOP BLOCK */
.shop-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  margin: 0 0 1rem 0;
  border: 1px solid #fff;
  font-size: 0.8rem;
}

.item:hover {
  border: 1px solid rgb(216, 210, 210);
}

.item-header {
  margin: 0.2rem 0.1rem 0.6rem 0.1rem;
  padding: 0;
  font-size: 0.9rem;
}

.item-pic {
  width: 100%;
  object-fit: cover;
  background: grey;
}

.item-colour {
  margin: 0 0 0.4rem 0;
  padding: 0;
  font-size: 0.7rem;
}

.item-price {
  margin: 0 0 0.4rem 0;
  padding: 0;
  font-size: 1rem;
}

.item-stock {
  margin: 0 0 0.3rem 0;
  padding: 0;
}

.item-category {
  margin: 0 0 0.4rem 0;
  padding: 0;
  font-size: 0.7rem;
}

.add-btn {
  width: 100%;
  font-size: 0.9rem;
}

.add-btn:hover,
.add-btn:focus {
  background-color: rgb(166, 166, 252);
}

/* CART BLOCK */

.cart-header {
  margin: 0;
  padding: 0.4rem;
  font-size: 1rem;
  text-align: right;
  background: rgb(243, 241, 241);
}

.cart-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  align-items: center;
  padding: 0.5rem;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-pic {
  object-fit: cover;
  background: grey;
}

.cart-item-name {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  font-weight: bold;
}

.cart-item-colour {
  margin: 0.2rem 0;
  font-size: 0.8rem
}

.cart-item-category {
  margin: 0.2rem 0;
  font-size: 0.7rem
}

.price-wrap {
  display: flex;
  align-items: flex-end;
}

.cart-item-price {
  margin: 0 0.5rem 0 0;
}

.delete-btn {
  align-self: center;
}

/* DISCOUNT BLOCK */
.discount-block {
  padding: 1rem 0 0 0;
}

.discount-label {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.price-block {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid grey;
}


/* VOUCHERS BLOCK */
.vouchers-block {
  padding: 0.5rem;
  font-size: 0.9rem;
}

.vouchers-block-header {
  margin: 0 0 0.5rem 0;
  padding: 0;
  text-align: left;
}

.vouchers-block-intro {
  text-align: left;
}

.vouchers-block-list {
  padding: 0;
}

.voucher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-size: 0.8rem;
}

.voucher-description {
  width: 48%;
  text-align: left;
}

.voucher-code {
  width: 48%;
  font-size: 0.9rem;
  text-align: right;
}

/* FUNCTIONAL */
.error {
  display: block;
  color: red;
}

.block {
  display: block;
}

.hidden,
.collapsed {
  display: none;
}

@media screen and (min-width: 768px) {
  .item {
    width: 31%;
  }

  .item-pic {
    height: 300px;
  }

  .vouchers-block {
    padding: 0.5rem 3rem;
  }

  .cart-item {
    padding: 0.5rem 1rem;
  }

  .content-wrap {
    flex-direction: row;
    align-items: baseline;
    width: 70%;
    align-content: space-between;
  }

  .cart-item-category {
   text-align: right;
  }
}
